@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model Library.Models.AppUser

@{
    ViewData["Title"] = "Create";
    Layout = "_Script";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Store" asp-controller="AppUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-bg-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="cotrol-label">User Name</label>
                <input asp-for="UserName" type="text" class="form-control" />
                <span asp-validation-for="UserName" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="cotrol-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-bg-danger"></span>
            </div>
            <div class="form-control">
                <label asp-for="IsHiDden">IsHiDden</label>
                <input asp-for="IsHiDden" type="checkbox" class="form-check" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn btn-outline-danger"> Create</button>
            </div>
        </form>
    </div>
</div>