@model Library.Models.AppUser
@{
    ViewData["Title"] = "AppUser";
}
<div class="card">
    <div class="card-header">
        <h4 class="title">Update User</h4>
    </div>
    <div class="card-body">
        <form asp-action="Update" asp-controller="AppUser" method="post">
            <input asp-for="AppUserId" type="hidden"/>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="UserName" class="control-label"> UserName</label>
                    <input asp-for="UserName" placeholder="UserName" class="form-control" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Password" class="control-label"> Password</label>
                    <input type="text" placeholder="Passowrd" asp-for="Password" class="form-control" />
                </div>

            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHiDden" /> @Html.DisplayNameFor(model => model.IsHiDden)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm float-lg-right ml-2">Update User</button>
                <a asp-action="Index" class="btn btn-danger btn-sm float-lg-right">Cancel</a>
            </div>
        </form>
    </div>
</div>

