@model Library.Models.Librarian
@{
    ViewData["Title"] = "Add New Librarain";
}

<div class="card">
    <div class="card-header">
        <h4 class="title float-left">Add Librarain</h4>
    </div>
    <div class="card-body">
        <form asp-action="Store" asp-controller="Librarian" method="post">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="LibrarianName" class="control-label">Librarian Name</label>
                    <input type="text" placeholder="LibrarianName" asp-for="LibrarianName" class="form-control" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="LibrarainCode" class="control-label">Librarain Code</label>
                    <input type="text" placeholder="LibrarainCode" asp-for="LibrarainCode" class="form-control" />
                </div>

            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Pob" class="control-label">POB</label>
                    <input type="text" placeholder="POB" asp-for="Pob" class="form-control" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Sex" class="control-label">Sex</label>
                    <select class="custom-select" asp-for="Sex">
                        <option>Please Select Your Sex</option>

                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Dob" class="control-label">DOB</label>
                    <input type="date" placeholder="DOB" asp-for="Dob" class="form-control" />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Phone" class="control-label">Phone</label>
                    <input type="tel" placeholder="Phone Number" asp-for="Phone" class="form-control" />
                </div>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" asp-for="IsHidden" />
                <label class="form-check-label ml-1">IsHidden</label>
               
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm float-lg-right ml-2">Add New Librarain</button>
                <a asp-action="Index" class="btn btn-danger btn-sm float-lg-right">Cancel</a>
            </div>
        </form>
    </div>
</div>
