﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="_csslink" />

   
</head>
<body>

    <div id="main-wrapper">
        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="#">
                    <b class="logo-abbr">
                        <img src="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/images/logo-text.png" />
                    </b>
                    <span class="logo-compact">
                        <img src="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/images/logo-text.png" />
                    </span>
                    <span class="brand-title">
                        <img src="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/images/logo-text.png" />
                    </span>
                </a>
            </div>
        </div>
       
        <partial name="_navigationbar" />
        <partial name="_sidebar" />

        <div class="content-body">
            <div class="container-fluid mt-3">
                @RenderBody()
            </div>
       </div>
    </div>

    <partial name="_scip" />
    
    @RenderSection("Scripts", required: false)
</body>
</html>
