﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   <partial name="_Allcss"/>

    
</head>
<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

        <partial name="_Nav" />

        <partial name="_Side" />


        <div class="content-wrapper">
           <div class="content-header">
               <div class="container-fluid">

               </div>
           </div>
           <div class="content">
                <div class="container-fluid">
                    @RenderBody()
               </div>
           </div>

        </div>
    </div>
    
   <partial name="_Script"/>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
