<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <link href="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
     
    <link href="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/css/style.css" rel="stylesheet" />
</head>

<body class="h-100">

    @RenderBody()



    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/plugins/common/common.min.js"></script>
    
    <script src="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/js/custom.min.js"></script>
    <script src="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/js/settings.js"></script>
    <script src="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/js/gleek.js"></script>
    <script src="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/js/styleswitcher.js"></script>
    <script src="~/quixlab-bootstrap-main/quixlab-bootstrap-main/theme/plugins/jquery-validation/jquery.validate.min.js"></script>

</body>
</html>
