@model Library.Models.AppUser

@{
    ViewData["Titel"] = "Login Form";
    Layout = "_Login";
}


<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>


<div style="padding: 150px">
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="index.html"> <h4>Register</h4></a>

                                <form class="mt-5 mb-5 login-input" asp-action="Register" asp-controller="Account" method="post">
                                    <div asp-validation-summary="ModelOnly"></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" asp-for="UserName" placeholder="User Name">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Password" asp-for="Password">
                                        <span asp-validation-for="Password" class="text-danger"> </span>
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Creat an Account </button>
                                </form>
     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

